
<head>
    

    <link rel="stylesheet" href="~/Content/Events.css" type="text/css">
    <title>yournamehere</title>
</head>
<body>
    <div class="container" id="spec">



        <div class="row divCenter col-md-12">
            <div class="card col-md-4" id="firstCard" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/Images/37.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EVENT name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mauris risus, quis iaculis enim finibus feugiat. Suspendisse lacinia metus lacinia mauris </p>
                    <a href="https://www.ticketmaster.com/?dma_id=389&landing=c&c=SEM_TMBRAND_ggl_298560299_24300724499_ticketmaster&GCID=0&gclid=CjwKCAjw14rbBRB3EiwAKeoG__FbGDO1nsGgOJcYZ2sw6Tmq3sWaSTFlM-l_ZlnqOqNQR29XSn8GvhoCaasQAvD_BwE&gclsrc=aw.ds&dclid=CP6tgqXgz9wCFZLHwAodKYgNaw" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>

            <div class="card col-md-4" id="second" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/Images/37.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EVENT name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mauris risus, quis iaculis enim finibus feugiat. Suspendisse lacinia metus lacinia mauris </p>
                    <a href="https://www.ticketmaster.com/?dma_id=389&landing=c&c=SEM_TMBRAND_ggl_298560299_24300724499_ticketmaster&GCID=0&gclid=CjwKCAjw14rbBRB3EiwAKeoG__FbGDO1nsGgOJcYZ2sw6Tmq3sWaSTFlM-l_ZlnqOqNQR29XSn8GvhoCaasQAvD_BwE&gclsrc=aw.ds&dclid=CP6tgqXgz9wCFZLHwAodKYgNaw" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>

            <div class="card col-md-4" id="third" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/Images/37.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EVENT name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mauris risus, quis iaculis enim finibus feugiat. Suspendisse lacinia metus lacinia mauris </p>
                    <a href="https://www.ticketmaster.com/?dma_id=389&landing=c&c=SEM_TMBRAND_ggl_298560299_24300724499_ticketmaster&GCID=0&gclid=CjwKCAjw14rbBRB3EiwAKeoG__FbGDO1nsGgOJcYZ2sw6Tmq3sWaSTFlM-l_ZlnqOqNQR29XSn8GvhoCaasQAvD_BwE&gclsrc=aw.ds&dclid=CP6tgqXgz9wCFZLHwAodKYgNaw" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>

        </div>

        <div class="row divCenter col-md-12">
            <div class="card col-md-4" id="firstCard" style="width: 18rem;">
                <img class="card-img-top " src="~/Content/Images/37.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EVENT name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mauris risus, quis iaculis enim finibus feugiat. Suspendisse lacinia metus lacinia mauris </p>
                    <a href="https://www.ticketmaster.com/?dma_id=389&landing=c&c=SEM_TMBRAND_ggl_298560299_24300724499_ticketmaster&GCID=0&gclid=CjwKCAjw14rbBRB3EiwAKeoG__FbGDO1nsGgOJcYZ2sw6Tmq3sWaSTFlM-l_ZlnqOqNQR29XSn8GvhoCaasQAvD_BwE&gclsrc=aw.ds&dclid=CP6tgqXgz9wCFZLHwAodKYgNaw" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>

            <div class="card col-md-4" id="second" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/Images/37.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EVENT name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mauris risus, quis iaculis enim finibus feugiat. Suspendisse lacinia metus lacinia mauris </p>
                    <a href="https://www.ticketmaster.com/?dma_id=389&landing=c&c=SEM_TMBRAND_ggl_298560299_24300724499_ticketmaster&GCID=0&gclid=CjwKCAjw14rbBRB3EiwAKeoG__FbGDO1nsGgOJcYZ2sw6Tmq3sWaSTFlM-l_ZlnqOqNQR29XSn8GvhoCaasQAvD_BwE&gclsrc=aw.ds&dclid=CP6tgqXgz9wCFZLHwAodKYgNaw" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>

            <div class="card col-md-4" id="third" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/Images/37.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EVENT name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mauris risus, quis iaculis enim finibus feugiat. Suspendisse lacinia metus lacinia mauris </p>
                    <a href="https://www.ticketmaster.com/?dma_id=389&landing=c&c=SEM_TMBRAND_ggl_298560299_24300724499_ticketmaster&GCID=0&gclid=CjwKCAjw14rbBRB3EiwAKeoG__FbGDO1nsGgOJcYZ2sw6Tmq3sWaSTFlM-l_ZlnqOqNQR29XSn8GvhoCaasQAvD_BwE&gclsrc=aw.ds&dclid=CP6tgqXgz9wCFZLHwAodKYgNaw" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>

        </div>


    </div>


</body>
</html>