
@{
    Layout = "";
}


<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="~/Content/splash.css" type="text/css">
    <title>yournamehere</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Brand Name</h1>
        <p class="lead">A splash page to draw attention and get users email address</p>
        <hr class="my-4">
        <p>infomration on why somebody should sign up to get future emails about the products that the company or individual offers</p>
        <p class="lead">



            <form method="post" class="centerForm form-inline" class="form-inline center">
                <div class="centerForm">

                    <input id="email" name="email" class="form-control mr-sm-2" type="text" placeholder="email@email.com">

                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Sign up</button>
                    <br>

                    <a href="@Url.Action("index")" class="btn btn-primary my-2 my-sm-0 moveDown">Enter full Site</a>

                </div>
            </form>

        </p>
    </div>


    <div class="container" id="why">
        Newest product or event here
        <iframe id="mfs_html5" src="https://airbit.com/widgets/html5/?uid=178677&config=330912" width="100%" height="510" frameborder="0" scrolling="no"></iframe>


    </div>


    <div id="footer">
        <div id="hold">

            <h1 class="why2">Contact me at:</h1>

            <h4 class="why2">email@email.com</h4>
            <h4 class="why2" id="under">Social Media</h4>

            <a href="https://www.youtube.com/user/MrBmthiscool/videos?view_as=subscriber"><img src="https://i.ytimg.com/vi/NlVpLOb_7c0/maxresdefault.jpg" id="appStore"></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>